.title{
    font-size: 30px;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
}

.terminosYCondiciones{
    font-weight: bolder;
}

/* .background-input {
    margin-bottom: 0!important;
    border-color: transparent!important;
    background: #00A6FB ;
    opacity: 0.6 ;
    border-radius: 6px;
    color: black;
    height: 45px;
} */