.item{
    display: flex;
}

.circleProgressBar{
    height: 150px;
    width: 100%;
}

.subtitleInformation{
    font-size: 18px;
    font-weight: bold;

}

.taskTitle{
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    margin-top: 20px;
}

.tasks{
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}

.bar{
    width: 70%;
    height: 20px;
    margin-left: 15%;
    margin-top: 2%;
}

.progress{
    font-size: 44px;
}