.item{
    display: flex;
}

.title{
    color:#f2efea;
    font-size: 30px;
}

.subtitle{
    color:#f2efea;
    font-size: 18px;
}

.bar{
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
}

.progress{
    color: #f2efea;
    font-size: 44px;
}